@model SGURestaurant.Models.Meal

@{
    ViewBag.Title = "SGU Info";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="row">

    <div class="col-md-5">
        <img class="img-thumbnail" src="@Model.ImageUrl" alt="">
    </div>

    <div class="col-md-5">
        <h3>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)</h3>
        <h3>@Html.DisplayNameFor(model => model.Indredients)</h3>
        <p>@Html.DisplayFor(model => model.Indredients)</p>
        <h3>@Html.DisplayNameFor(model => model.MealStyle)</h3>
        <p>@Html.DisplayFor(model => model.MealStyle.Name)</p>
        <h3>@Html.DisplayNameFor(model => model.MealType)</h3>
        <p>@Html.DisplayFor(model => model.MealType.Name)</p>
    </div>

</div>

<p>
    @Html.ActionLink("Quay lại", "Index")
</p>

<hr />

<h3>Nhận xét</h3>

<div>
@if (Request.IsAuthenticated)
{
    <h4>@User.Identity.Name</h4>
    using (Html.BeginForm("Create", "Review", new { returnUrl = Request.Url.AbsoluteUri }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.Id" name="MealId" />
        <span class="rating">
            <input id="rating5" type="radio" name="Rate" value="5" />
            <label for="rating5">5</label>
            <input id="rating4" type="radio" name="Rate" value="4" />
            <label for="rating4">4</label>
            <input id="rating3" type="radio" name="Rate" value="3" />
            <label for="rating3">3</label>
            <input id="rating2" type="radio" name="Rate" value="2" />
            <label for="rating2">2</label>
            <input id="rating1" type="radio" name="Rate" value="1" checked />
            <label for="rating1">1</label>
        </span>

        <div class="thumbnail">
            <textarea name="Comment" rows="3" autofocus="autofocus" placeholder="Nhập nhận xét của bạn..." class="comment_field"></textarea>
        </div>
        <br />

        <div>
            <button class="btn btn-primary">Gửi đánh giá</button>
        </div>
    }
}
else
{
    @Html.ActionLink("Đăng nhập để bình luận", "Login", "Account", new { ReturnUrl = Request.Url.AbsoluteUri }, null);
}
</div>

<hr />

<i>@Model.Reviews.Count() nhận xét khác</i>
@{
    var sortByTimeReviews = Model.Reviews.OrderByDescending(e => e.Time).ToList();
}
@foreach(var vote in sortByTimeReviews)
{
    <div>
        <div class="comment_group">
            <div>
                <b>@vote.User.UserName</b>
            </div>
            <div>
                @for (var j = 0; j < vote.Rate; j++)
                {
                    <span class="glyphicon glyphicon-star"></span>

                }
                @for (var j = 0; j < 5 - vote.Rate; j++)
                {
                    <span class="glyphicon glyphicon-star-empty"></span>

                }
            </div>
            <div class="comment_area">
                <p style="text-wrap:unset;">@vote.Comment</p>
            </div>
        </div>
    </div>
}
