@model IEnumerable<SGURestaurant.Models.Booking>

@{
    ViewBag.Title = "Quản lý đặt món";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "Bookings", FormMethod.Get))
{
    <select name="view" class="dropdown btn-primary" onchange="submit()">
        @if (Request["view"] == "approval")
        {
            <option value="all">Tất cả</option>
            <option value="approval" selected>Đã xét duyệt</option>
            <option value="new">Chưa xét duyệt</option>
        }
        else if (Request["view"] == "all")
        {
            <option value="all" selected>Tất cả</option>
            <option value="approval">Đã xét duyệt</option>
            <option value="new">Chưa xét duyệt</option>
        }
        else
        {
            <option value="all">Tất cả</option>
            <option value="approval">Đã xét duyệt</option>
            <option value="new" selected>Chưa xét duyệt</option>
        }
    </select>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Bàn
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @string.Format("{0:dd-M-yyyy}", DateTime.Parse(Html.DisplayFor(modelItem => item.Time).ToString()))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table.Id)
        </td>
        <td>
            @(item.BookingDetails.Sum(e => e.Meal.Price * e.Number).ToString("0,000"))
        </td>
        <td>
            @if (item.Status)
            {
                <span class="text-success">Đã xét duyệt</span>
            }
            else
            {
                using (Html.BeginForm("Approval/" + item.Id, "Bookings", FormMethod.Post))
                {
                    <button type="submit" class="btn btn-success">Đồng ý</button>
                }
            }
            
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
