@model IEnumerable<SGURestaurant.Models.Booking>

@{
    ViewBag.Title = "Lịch sử đặt món";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Bàn
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @string.Format("{0:dd-M-yyyy}", DateTime.Parse(Html.DisplayFor(modelItem => item.Time).ToString()))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table.Id)
            </td>
            <td>
                @(item.BookingDetails.Sum(e => e.Meal.Price * e.Number).ToString("0,000"))
            </td>
            <td>
                @if (item.Status)
                {
                    <span class="text-success">Đã xét duyệt</span>
                }
                else
                {
                    <span class="text-warning">Chưa xét duyệt</span>
                }

            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<hr />
@Html.ActionLink("Quay lại trang chủ", "Index", "Home")
