<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SGU Restaurant</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top nav-me">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Tổng quan", "Index", "Admin")</li>
                    }
                    else if (User.IsInRole("Manager"))
                    {
                        <li>@Html.ActionLink("Quản lý món ăn", "Index", "Meals")</li>
                        <li>@Html.ActionLink("Quản lý người dùng", "Index", "Users")</li>
                        <li>@Html.ActionLink("Quản lý đặt món", "Index", "Bookings")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            @RenderBody();
        }
        else
        {
            @RenderPage("_404.cshtml", null);
        }   
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SGU Restaurant</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
